<a href="https://colab.research.google.com/github/lethuyngocan/ml-basics/blob/master/Python_Tutorial_for_Absolute_beginner_List%2C_Tuple_and_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **LIST, TUPLE AND SETS:**
In Python, there are several built-in data structures to store collections of values. Three commonly used data structures are lists, tuples, and sets. Let's explore each of them in more detail:

# **1. LIST**


*   Lists are ordered and mutable collections of items enclosed in square brackets [].
*   They can contain elements of different data types, such as integers, strings, or even other lists.

for example:

In [ ]:
my_list=[1,2,'a','b',[3,4]]

Now, let's go to practice some important functionality of list.

First, I create a list of my favorite foods.

In [ ]:
fav_food=['pho','sushi','sashimi','spaghetti','Paella']

In [ ]:
#print out the entire list:
print(fav_food)

['pho', 'sushi', 'sashimi', 'spaghetti', 'Paella']

In [ ]:
# to know how many element in the list:
print(len(fav_food))

5

We also can access the value of each element individually. We can use the square bracket after our list and past in the location of the value of we want. This location is called index and it started with 0.

For example we would like to access the first value, what we'll do is:

# a) Access item in the list:

In [ ]:
print(fav_food[0])

pho

Now if we want to access the last value in the list there are two way to do it:

In [ ]:
print(fav_food[4])

Paella

In [ ]:
#or

In [ ]:
print(fav_food[-1])

Paella

It's more conveient a lot of the time using negative 1 to get the last item because we dont have to worry what the length of the list

**We also can access a range of value. **

if we want to grab the 2 value sushi and sashimi in the list then what we do is we start access the index 1 and and not include index 3:

In [ ]:
print(fav_food[1:3]) # the first index is inclusive, the last index is exclusive

['sushi', 'sashimi']

# **b) Add items to the list:**

If we want to add item to the end of the list, we can use the append method. 

For example we would like to add Bibimbap to the list.

In [ ]:
fav_food=['pho','sushi','sashimi','spaghetti','Paella']
fav_food.append('bimbimbap')

print(fav_food)

['pho', 'sushi', 'sashimi', 'spaghetti', 'Paella', 'bimbimbap']

We can see bimbimbap is in the end of the list now.
If we want to add bimbimbap to specific location of the list, for example we want it locates after sashimi so instead we can use the **insert method**

In [ ]:
fav_food=['pho','sushi','sashimi','spaghetti','Paella']
fav_food.insert(3,'bimbimbap') # insert location first and then value

print(fav_food)

['pho', 'sushi', 'sashimi', 'bimbimbap', 'spaghetti', 'Paella']

We also can use **extend method** to add values to the list. We use **extend method** when we would like to add multiple values to the list. 

Let's say we have another list of favorite food and we want to add the value from new list to the original list.

In [ ]:
fav_food= ['pho','sushi','sashimi','spaghetti','Paella']
fav_food1=['hambuger','spring roll','wonton soup']

fav_food.extend(fav_food1)

print(fav_food)

['pho', 'sushi', 'sashimi', 'spaghetti', 'Paella', 'hambuger', 'spring roll', 'wonton soup']

# **c)Remove Value from the list**

Remove with **remove method**:

In [ ]:
fav_food= ['pho','sushi','sashimi','spaghetti','Paella']
fav_food.remove('Paella') # remove paella from the list

print(fav_food)

['pho', 'sushi', 'sashimi', 'spaghetti']

Remove with **pop method**: it will remove the last value from the list

In [ ]:
fav_food= ['pho','sushi','sashimi','spaghetti','Paella']
fav_food.pop() 

print(fav_food)

['pho', 'sushi', 'sashimi', 'spaghetti']

# **d) Sort List**

**Sort list in reverse order:**

In [ ]:
fav_food= ['pho','sushi','sashimi','spaghetti','Paella']
fav_food.reverse()

print(fav_food)

['Paella', 'spaghetti', 'sashimi', 'sushi', 'pho']

**Sort list in ascending order:**

In [ ]:
fav_food= ['pho','sushi','sashimi','spaghetti','Paella']
fav_food.sort()

print(fav_food)

['Paella', 'pho', 'sashimi', 'spaghetti', 'sushi']

In [ ]:
number=[7,1,6,2,8,9]
number.sort()

print(number)

[1, 2, 6, 7, 8, 9]

**Sort list in descending order**:

In [ ]:
fav_food= ['pho','sushi','sashimi','spaghetti','Paella']
fav_food.sort(reverse=True)

print(fav_food)

['sushi', 'spaghetti', 'sashimi', 'pho', 'Paella']

In [ ]:
number=[7,1,6,2,8,9]
number.sort(reverse=True)

print(number)

[9, 8, 7, 6, 2, 1]

**Min,Max,Sum**

In [ ]:
number=[7,1,6,2,8,9]

print(min(number))

1

In [ ]:
number=[7,1,6,2,8,9]

print(max(number))

9

In [ ]:
number=[7,1,6,2,8,9]

print(sum(number))

33

# **f) Transform list to string**
 let's say we want to turn our list of courses into the string of comma separated values:

In [ ]:
fav_food= ['pho','sushi','sashimi','spaghetti','Paella']
fav_food_str= ','.join(fav_food)

print(fav_food_str)

pho,sushi,sashimi,spaghetti,Paella

We also can transform string to list by spliting our string to on a certian value:

In [ ]:
new_list= fav_food_str.split(',')

print(new_list)

['pho', 'sushi', 'sashimi', 'spaghetti', 'Paella']

# **g) Create an empty list:**

In [ ]:
empty_list=[] # method 1
print(empty_list)

[]

In [ ]:
empty_list= list() #method 2
print(empty_list)

[]

# **2. TUPLES:**

* Tuples are ordered and immutable collections of items enclosed in parentheses ().
* They are similar to lists, but once created, the elements cannot be modified.
* Tuples can contain elements of different data types, just like lists.
* Tuples are commonly used for representing fixed collections of values, such as coordinates or settings.

In [ ]:
tuple1= ('pho','sushi','sashimi','spaghetti','Paella') # tuple look like a list but instead of the square bracket we use () bracket 
tuple2= tuple1 # we're setting tuple 2 is equal tuple 1

print(tuple1)
print(tuple2)

('pho', 'sushi', 'sashimi', 'spaghetti', 'Paella')
('pho', 'sushi', 'sashimi', 'spaghetti', 'Paella')

Now if we we change the value of tuple 1 by adding one more element to the tuple:

# **a) Immutate Tuple**

In [ ]:
tuple1[0]= 'bimbimbap'

TypeError: ignored

We got got error because **tuples are immutable, you cannot assign a new value to an element.**

Tuple is immutable, it doesn't have as many method as list. we can't add, remove or append anything from tuple. But rather than that, they behaves the same like list.

# **b)Create Empty Tuple**

In [ ]:
empty_tuple= () # method 1

print(empty_tuple)

()

In [ ]:
empty_tuple = tuple()
print(empty_tuple)

()

# **3)SET:**


* Sets are unordered collections of unique elements enclosed in curly braces {}.
* They do not allow duplicate values, and the order of elements is not guaranteed.
* Sets are primarily used for membership testing and eliminating duplicates from a sequence.
* Sets support various operations such as union, intersection, and difference.

In [ ]:
fav_food= {'pho','sushi','sashimi','spaghetti','Paella'} # set looks similar like list or tuple but instead of the square bracket or parentheses, it uses curly braces

print(fav_food)

{'sashimi', 'spaghetti', 'sushi', 'Paella', 'pho'}

We can see in the print result the order of each element changes to compare with theirs order in the original tuple. 

The reason for this is unlike list or tuple, set don't really care about order. The main use for the set is either to test whether the value is part of a set and also remove duplicated value (if any), because set delete all duplicates.

#**a) Remove duplicated value:**

In [ ]:
fav_food= {'pho','sushi','sashimi','spaghetti','Paella','pho'}# we add one more 'pho'value to the tuple and now print the tuple

print(fav_food)

{'sashimi', 'spaghetti', 'sushi', 'Paella', 'pho'}

We can see tuple delete the duplicated 'pho'

#**b) Membership test**:

In [ ]:
fav_food= {'pho','sushi','sashimi','spaghetti','Paella'}

print('pho'in fav_food) # we test whether 'pho' is in the tuple

True

In [ ]:
fav_food= {'pho','sushi','sashimi','spaghetti','Paella'}

print('spring roll'in fav_food) # we test whether 'spring roll' is in the tuple

False

## **c) What Value is shared with other set:**

In [ ]:
fav_food1= {'pho','sushi','sashimi','spaghetti','Paella'}
fav_food2= {'pho','spring roll','sushi','wonton soup'} # we have two sets of favorite food, some of them have different fav food, some of them share the same fav food

# now we would like to know which foods these set have in common so to do it, we use intersection method:

print(fav_food1.intersection(fav_food2))

{'sushi', 'pho'}

In [ ]:
# if we want to see which food is in the fav_food1 but not is the fav_food2, we use difference method:
fav_food1= {'pho','sushi','sashimi','spaghetti','Paella'}
fav_food2= {'pho','spring roll','sushi','wonton soup'} 

print(fav_food1.difference(fav_food2))

{'spaghetti', 'Paella', 'sashimi'}

In [ ]:
# now if we want to combine the favorite foods in both set and print them out, we use union method:
fav_food1= {'pho','sushi','sashimi','spaghetti','Paella'}
fav_food2= {'pho','spring roll','sushi','wonton soup'} 

print(fav_food1.union(fav_food2))

{'spring roll', 'sashimi', 'spaghetti', 'Paella', 'pho', 'wonton soup', 'sushi'}

# **d) Create Empty Set**

In [ ]:
empty_set=set()
print(empty_set)

set()